.fondo {
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.avatar{
    width: 200px;
    border-radius: 50% ;
}

html {
  scroll-behavior: smooth;
}

.opaque{
  filter: brightness(0.4);
}

.imgCard img{
  position: relative;
  top: 5px;
  left: 5px;
  transition: 500ms;
  border-radius: 5%;
}

.imgCard img:hover{
  top: 0px;
  left: 0px;
  box-shadow: 5px 5px 5px 0px rgb(99, 99, 99);
  /*DESENFOQUE
  filter: blur(5px);*/

}
